name: Pull Request Checks

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  check_files:
    name: Check Modified Files
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.ref }}  # Checkout the code from the source branch of the pull request

      # - name: Install required packages
      #   run: |
      #     sudo apt-get update
      #     sudo apt-get install -y grep
      
      # - name: perform fetch
      #   run: git fetch

      - name: branch name
        run: git branch | grep "*"

      - name: get list
        run: ls -R .github

      # - name: Get list of modified files
      #   id: get_files
      #   run: |
      #     echo "::set-output name=files::$(git diff --name-only ${{ github.event.pull_request.base.ref }}...${{ github.event.pull_request.head.ref }})"
      
      - name: Get the list of required functions
        id: get_functions
        run: |
          functions=$(cat .github/scripts/playbook_functions.txt)
          echo "PLAYBOOK_FUNCTIONS=$functions" >> $GITHUB_ENV

      - name: Print the list of required functions
        run: echo "Required functions= ${{ env.PLAYBOOK_FUNCTIONS }}"

      - name: Check for required functions
        run: |
          for file in $(git ls-files | grep '\-playbook\.sh$'); do
            # Check if the file ends with "-playbook.sh"
            for f in "${{ env.PLAYBOOK_FUNCTIONS }}"; do
              if ! grep -q -w "function $f"
              then
                echo "Missing function $f in $file"
              fi
            don
          done
